@import "../../../scss/variables"; 
@import "../../../scss/mixins"; 
@import "../../../scss/spacingVariables.scss";

.marg{
    padding: 50px; 
}
.mat-card{
    width:900px;
    border: none;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text);
    
}
.profilepic{
    @include profilepic2()
}
.photo{
@include profilephoto();
}
.content
{
    @include content;
}
.gap{
    margin-top: 10px;
}
.gap1{
    margin-top: 20px;
}

.buttonSpace{
    margin-left: 600px;
}
.breakLetter{
    word-break: break-all;
}
.questionBox{
    margin-top: 100px;
}
.spac{
    margin-left: 20px;
}
.spac1{
    margin-left: 80px;
}
.userSpac{
    margin-left:100px;
}
.paddin{
    margin-left: 80px;
}
::ng-deep.br-default .br-unit {
    margin-right: 5px;
    margin-top:-11px;
    font-size: 23px;
    height: 18px;
    width: 18px;
}
 
.scroll{
    max-height: 380px;
    overflow-y: auto;
    overflow-x: hidden !important;
}