@import "../../../scss/variables"; 
@import "../../../scss/mixins"; 
@import "../../../scss/spacingVariables.scss";

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.content
{
    @include content;
}
.update
{
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 18px;
    padding-bottom: 20px;
    
}
.check
{
    border:none;
    outline: none;
    word-wrap: break-word;
    background:transparent;
 }
 .gap{
     margin-top: 30px;
 }
//  .mat-card
//     {
//         width: 500px;
//         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
//     }
//     @media only screen and (min-width: 320px) and  (max-width: 420px){
//         mat-card{
//             width:220px !important;
//             overflow-x: hidden !important;
//             word-break: break-all;
            
//         }
//     }
//     @media only screen and (min-width: 361px) and  (max-width: 375px){
//         mat-card{
//             width:320px !important;
//             word-break: break-all;
//         }
//     }
//     @media only screen and (min-width: 375px) and  (max-width: 411px){
//         mat-card{
//             width:330px !important;
//             word-break: break-all;
//         }
//     }