[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.content
{
    overflow: hidden;
    border: none;
    border-color: transparent;
    outline: none;
    word-wrap: break-word;
    width: 100%;
    min-height: 20px;
}
.update
{
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 18px;
    padding-bottom: 20px;
}
.check
{
    border:none;
    outline: none;
    word-wrap: break-word;
    background:transparent;
 }