@import "../../../scss/variables"; 
@import "../../../scss/mixins"; 
@import "../../../scss/spacingVariables.scss";

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.content
{
    @include content;
}
.update
{
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 18px;
    padding-bottom: 20px;

}
.check
{
    border:none;
    outline: none;
    word-wrap: break-word;
    background:transparent;
 }