<!--**************************Toolbar contains search,login details,refresh ************* -->
<mat-toolbar class="tool">

  <!-- ************************ Toggle menu ******************************************** -->

  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon style="color:black" aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div style="color:black;font-family:Bookman, URW Bookman L, serif">
    <!-- <img class="icon" alt="" aria-hidden="true" src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png"
      srcset="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_48dp.png 2x "
      style="width:40px;height:40px"> -->
    <span class="labelsOverTitle">{{title | titlecase}}</span>
  </div>

  <!--**************************** SearchBar ****************************************** -->
  <div class="right">
    <div id="search" fxShow="true" fxHide.xs="true" fxHide.sm="true">
      <input type="search" [class.has-value]="searchValue" name="search" [(ngModel)]="inputData" (click)="navigateSearch()"
        (keydown)="down()" placeholder="Search" class="searchbar">
      <button matTooltip="Refresh" mat-icon-button>
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>

  <!--********************************* Grid View ***********************************-->
  <div fxFlex fxLayoutAlign="end">


    <button mat-icon-button class="find" fxShow.xs fxHide.sm fxHide.md fxHide.lg fxHide.lt-lg fxHide.lt-md fxHide.lt-sm
      fxHide.lt-xl fxHide.gt-lg>
      <mat-icon>search</mat-icon>
    </button>


    <button matTooltip="Grid View" (click)="gridView()" *ngIf="list == 0" mat-icon-button>
      <mat-icon>view_stream</mat-icon>
    </button>


    <!--*************************** List View ****************************************-->
    <button matTooltip="List View" (click)="grid()" *ngIf="list == 1" mat-icon-button>
      <mat-icon>view_module</mat-icon>
    </button>

    <!--************************* Profile pic,login details ***************************-->
    <div *ngIf="image2!=''">
      <button class="profilepic">
        <img src="{{img}}" [matMenuTriggerFor]="menu" class="photo">
      </button>
    </div>
    <div *ngIf="image2==''">
      <button mat-mini-fab color="disabled" class="profile-pic photo" [matMenuTriggerFor]="menu">
        {{firstname | slice:0:1}}

      </button>

    </div>

    <div>

      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <div fxLayout="row" fxLayoutAlign="space-around center">

          <div fxLayoutAlign="row " fxLayoutAlign="space-between">

            <div fxFlex=100>

              <button color="disabled" *ngIf="image2!=''" (click)="$event.stopPropagation()" [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}"
                (click)="selectFile.click()" matTooltip="{{firstname | titlecase}} {{lastname | titlecase}}"
                mat-mini-fab class="profile-pic photo1">
                <h5 class="changepic">change</h5>
              </button>

              <button *ngIf="image2==''" (click)="$event.stopPropagation()" (click)="selectFile.click()" matTooltip="{{firstname | titlecase }}"
                mat-mini-fab color="disabled" class="profile-pic photo1">
                {{firstname | titlecase | slice:0:1}}
              </button>

              <input style="display:none" (click)="$event.stopPropagation()" class="image" type="file" (change)="onFileUpload($event)"
                #selectFile>

            </div>

          </div>


          <div fxLayout="column" fxLayoutAlign="space-around start">
            <mat-content>
              <b>
                {{firstname | titlecase}} {{lastname | titlecase}}
              </b>
            </mat-content>
            <div class="spac"></div>
            <mat-content>{{email}}</mat-content>
          </div>

        </div>
        <hr>

        <div fxLayoutAlign="row wrap" fxLayoutAlign="center center" class="add" fxLayoutGap=80px>
          <button mat-stroked-button class="logout" (click)="logout()">
            Log out
          </button>
        </div>

      </mat-menu>
    </div>
  </div>


</mat-toolbar>

<!--************Side Menu  contains notes,reminders,trash,labels,archive ****************-->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-nav-list>

      <a (click)='changeTitle("Fundoo Notes")' mat-list-item routerLink="/homepage/notes" routerLinkActive="active">
        <img src="../../../assets/images/notes.svg">
        <h4 class="spac1"> Notes</h4>

      </a>

      <a (click)='changeTitle("Reminders")' mat-list-item routerLink="/homepage/reminder" routerLinkActive="active">
        <img src="../../../assets/images/reminders.svg">
        <h4 class="spac1">Reminders</h4>
      </a>


      <hr>


      <div fxLayout="row" fxLayoutAlign="space-between center">
        <p class="label"> Labels</p>
      </div>

      <div (click)="labelsPage(labels)" *ngFor=" let labels of temp ">
        <a (click)='changeTitle(labels.label)' mat-list-item>
          <mat-icon class="ma1">label_outline</mat-icon>
          <span class="spac1 labelsOver">{{labels.label}}</span>
        </a>
      </div>

      <div class="spac1">
        <a matTooltip="Create New Label" (click)="openDialog()" mat-list-item>
          <img src="../../../assets/images/create.svg">
          <h4 class="spac1">Edit label</h4>

        </a>
      </div>

      <hr>
      <a (click)='changeTitle("Archive")' mat-list-item routerLink="/homepage/archive" routerLinkActive="active">
        <img src="../../../assets/images/archive.svg">
        <h4 class="spac1">Archive</h4>
      </a>
      <a (click)='changeTitle("Trash")' mat-list-item routerLink="/homepage/trash" routerLinkActive="active">
        <img src="../../../assets/images/trash.svg">
        <h4 class="spac1">Trash</h4>
      </a>

    </mat-nav-list>

  </mat-sidenav>


  <mat-sidenav-content class="sidecontent">
    <router-outlet></router-outlet>
  </mat-sidenav-content>


</mat-sidenav-container>