$whitecolor:white;
$whitesmoke:whitesmoke;
$gray:#D5D8DC;

.sidenav-container {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
  
.sidenav {
  overflow-y: auto;
  width: 250px; 
   margin-top: 56px;  
   position: fixed;
}
.sidecontent
{
  background-color:$whitecolor;
}
.icon
{
  margin-bottom: -5%;
}
.title
{
  margin-bottom: -5%;
}
.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
}
.find
{
  margin-top: 5%;
}
.tool{
  background-color:$whitecolor;
  position: fixed;
  z-index:2;
  display: flex;
  box-shadow: 0 1px 1px rgba(175, 147, 86, 0.2)
}

.right {
  float: right
}
.signout
{
  height: 100px;
  width:200px;
  
}
.sig
{
width: 220px;
height: 100px;
background-color: transparent;

}
.sig
{
background-color: transparent;
padding-top: 20px;
padding-bottom: 20px;
}
mat-menu-content:not(:empty) {
  padding-top: -200px;
  padding-bottom: -20000px;
}
.spac
{
  margin-left: 10%;
}
.searchbar
{
  width:600px;
  height: 45px;
  border-radius: 8px;
  margin-left: 20px;
  box-sizing: border-box;
  background: transparent;
  outline: none;
}
.userdetails
{
  margin-left: 10px; 
  background-color: darkgreen; 
  color:$whitecolor;
}
.profilepic{
  width:50px; 
  height:50px; 
  border: none;
  border-radius: 100%;
  background:$whitecolor;
 
}

.mat-nav-list a.active {
  background:$gray;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.gap
{
margin-top: 5%;
}
.movright
{
  padding-right: 20%;
}
.photo
{
  float:left ;
  width:50px;
  height:50px;
  border-radius: 50% ;
}
.photo1
{
  width:90px;
  height:90px;
  border-radius: 60% ;
}

.profile-pic 
{
float: right;
color: black;
text-transform: uppercase;

}
.contentstyle
{
  margin-left: 35%;
}
.contentstyle1
{
  margin-left: 35%;
}
.spac
{
  margin-bottom:15%;
}
.spac1
{
  margin-left:15%;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-weight: 500;
  font-size: .875rem;
  
}
.changepic
{

  color: $whitecolor;
  opacity: 0.7;
  margin-left: -15%;
  padding: 35px
  
}
.labelsOver
{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;
  width: 100px;
}
.labelsOverTitle
{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;
  width: 0px!important;
}
.label{
  color: #5f6368;
  letter-spacing: .07272727em;
  font-family: Roboto,Arial,sans-serif;
  font-size: .6875rem;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
  margin-left: 7%;
  display: flex;
}