.sidenav-container {
  height: 90%;
}

.sidenav {
  width: 200px;
  margin: 64px 0px 0px 0px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
.tool{
  background-color:  rgb(255, 202, 2)
}
.exm
{
  background-color: rgba(206, 209, 211, 0.87)
}

.right {
  float: right
}
.label
{
 padding: 20px;
}
.signout
{
  height: 100px;
  width:200px;
  
}




/* 

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input{
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 10px;
  width: 15px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  -webkit-box-sizing: content-box;
  -webkit-appearance: textfield;
  outline: none;
  cursor: pointer;
  z-index: 5;
}
#search input[type=search].filled
{
  width: 400px;
  padding-left: 32px;
  color: #4a83c0;
  background-color: #fff;
  cursor: auto;

}

input[type=search]:focus {
  width: 400px;
  background-color: #fff;
  border-color: rgb(255, 202, 2);
  padding-left: 32px;
  cursor: auto;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

#search input[type=search]:hover {
  background-color: #fff;
}

#search input:-moz-placeholder {
  color: transparent;
}

#search input::-webkit-input-placeholder {
  color: transparent;
}
#search input[type=search].filled:-moz-placeholder{
  color:black;
}
#search input[type=search].filled::-webkit-input-placeholder{
  color:black;
}

.close
{
  z-index:10;
  margin-left:-3rem;
  margin-right:1rem;
} */