.sidenav-container {
  height: 90%;
}

.sidenav {
  width: 200px;
  margin: 64px 0px 0px 0px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
.tool{
  background-color:  rgb(255, 202, 2)
}
.exm
{
  background-color: rgba(206, 209, 211, 0.87)
}

.right {
  float: right
}
.label
{
 padding: 20px;
}
.signout
{
  height: 100px;
  width:200px;
  
}
.sig
{
width: 220px;
height: 100px;
background-color: transparent;

}
.sig
{
background-color: transparent;
padding-top: 20px;
padding-bottom: 20px;
}
/* .n{
padding: 10%;
} */
mat-menu-content:not(:empty) {
  padding-top: -200px;
  padding-bottom: -20000px;
}