.sidenav-container {
  // height: 100%;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
}

.sidenav {
  overflow-y: auto;
  width: 250px; 
   margin-top: 65px;
   position: fixed;
}
.sidecontent
{
  background-color: white;
}
.icon
{
  margin-bottom: -5%;
}
.title
{
  margin-bottom: -5%;
}
.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
}
.find
{
  margin-top: 5%;
}
.tool{
  background-color:  white;
  position: fixed;
  z-index:2;
  display: flex;
}
.exm
{
  background-color: rgba(206, 209, 211, 0.87)
}

.right {
  float: right
}
.signout
{
  height: 100px;
  width:200px;
  
}
.sig
{
width: 220px;
height: 100px;
background-color: transparent;

}
.sig
{
background-color: transparent;
padding-top: 20px;
padding-bottom: 20px;
}
mat-menu-content:not(:empty) {
  padding-top: -200px;
  padding-bottom: -20000px;
}
.spac
{
  margin-left: 10%;
}
.toolbar1
{
  opacity:0.3;
  width:600px;
  height: 45px;
  border-radius: 0px;
  margin-left: 20px
}
.userdetails
{
  margin-left: 10px; 
  background-color: darkgreen; 
  color: white;
}
.profilepic{
  width:50px; 
  height:50px; 
  border: none;
 border-radius: 100%;
 background:white;
 
}
// .profilepic1{
//   width:50px; 
//   height:50px; 
//   border: none;
//  border-radius: 100%;
//  background:white;
//  padding-right: 50%;
 
// }
// .profilebutton2{
//   width:50px; 
//   height:50px; 
//   border: none;
//  border-radius: 50%;
//  background: transparent;
//  outline:none;
 
// }
.gap
{
margin-top: 5%;
}
.movright
{
  padding-right: 20%;
}
.photo
{
  float:left ;
  width:50px;
  height:50px;
  border-radius: 50% ;
}
.photo1
{
  // float:right ;
  width:90px;
  height:90px;
  border-radius: 60% ;
  // padding: 50%;
}

.profile-pic 
{
float: right;
color: black;
text-transform: uppercase;

}
.contentstyle
{
  margin-left: 35%;
}
.contentstyle1
{
  margin-left: 35%;
}
.spac
{
  margin-bottom:15%;
}
.spac1
{
  margin-left:15%;
}
.changepic
{
  // background-color: transparent;
  color: white;
  opacity: 0.7;
  margin-left: -15%;
  padding: 35px
  
}
