@import "../../../scss/variables"; 
@import "../../../scss/mixins"; 
@import "../../../scss/spacingVariables.scss";

.sidenav-container {
  height: 100%;
  @include sidenav();
}
  
.sidenav {
  overflow-y: auto;
  width: 250px; 
  margin-top: 56px;  
  position: fixed;
}
.sidecontent
{
  background-color:$whitecolor;
}
.icon
{
  margin-bottom: -5%;
}
.title
{
  margin-bottom: -5%;
}
.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
}
.find
{
  margin-top: 5%;
}
.tool{
  background-color:$whitecolor;
  position: fixed;
  z-index:2;
  display: flex;
  box-shadow: 0 1px 1px $gray;
}

.right {
  float: right
}
// .signout
// {
//   height: 100px;
//   width:200px;
  
// }
// .sig
// {
// width: 220px;
// height: 100px;
// background-color: transparent;

// }
// .sig
// {
// background-color: transparent;
// padding-top: 20px;
// padding-bottom: 20px;
// }
mat-menu-content:not(:empty) {
  padding-top: -200px;
  padding-bottom: -20000px;
}
.spac
{
  margin-left: 10%;
}
.searchbar
{
 @include searchbar;
}
// .userdetails
// {
//   margin-left: 10px; 
//   background-color: #006600; 
//   color:$whitecolor;
// }
.profilepic{
@include profilepic2()
}
.photo
{
  @include profilephoto();
}
.photo1
{
  width:90px;
  height:90px;
  border-radius: 60% ;
}

.profile-pic 
{
float: right;
color: $black;
text-transform: uppercase;

}

.mat-nav-list a.active {
  background:$gray;
  border-top-right-radius:$twenty;
  border-bottom-right-radius: $twenty;
}

.gap
{
margin-top: 5%;
}
.movright
{
  padding-right: 20%;
}

.contentstyle
{
  margin-left: 35%;
}
.contentstyle1
{
  margin-left: 35%;
}
.spac
{
  margin-bottom:15%;
}
.spac1
{
  margin-left:15%;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-weight: 500;
  font-size: .875rem;
  
}
.changepic
{

  color: $whitecolor;
  opacity: 0.7;
  margin-left: -15%;
  padding: 35px
  
}
.labelsOver
{
  @include labelOverFlow;
  width: 100px;
}
.labelsOverTitle
{
  @include labelOverFlow;
}
.label{
  color: $black;
  letter-spacing: .07272727em;
  font-family: Roboto,Arial,sans-serif;
  font-size: .6875rem;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
  margin-left: 7%;
  display: flex;
}