.sidenav-container {
  height: 100%;
}

.sidenav {
  overflow-y: auto;
  width: 200px;
   margin-top: 65px;
   position: fixed;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
}
.tool{
  background-color:  rgb(255, 202, 2);
  position: fixed;
  z-index:2;
  display: flex;
}
.exm
{
  background-color: rgba(206, 209, 211, 0.87)
}

.right {
  float: right
}
.signout
{
  height: 100px;
  width:200px;
  
}
.sig
{
width: 220px;
height: 100px;
background-color: transparent;

}
.sig
{
background-color: transparent;
padding-top: 20px;
padding-bottom: 20px;
}
mat-menu-content:not(:empty) {
  padding-top: -200px;
  padding-bottom: -20000px;
}
.spac
{
  margin-left: 10%;
}
.toolbar1
{
  opacity:0.3;
  width:600px;
  height: 45px;
  border-radius: 0px;
  margin-left: 20px
}
.userdetails
{
  margin-left: 10px; 
  background-color: darkgreen; 
  color: white;
}
.profilepic{
  width:50px; 
  height:50px; 
  border: none;
 border-radius: 100%;
 background:rgb(255, 202, 2);
 
}
.profilepic1{
  width:50px; 
  height:50px; 
  border: none;
 border-radius: 100%;
 background:white;
 padding-right: 50%;
 
}
.profilebutton2{
  width:50px; 
  height:50px; 
  border: none;
 border-radius: 50%;
 background: transparent;
 outline:none;
 
}
.gap
{
margin-top: 5%;
}
.movright
{
  padding-right: 20%;
}
.photo
{
  float:left ;
  width:50px;
  height:50px;
  border-radius: 50% ;
}

.profile-pic 
{
float: right;
color: black;
text-transform: uppercase;

}