<mat-toolbar class="tool">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon style="color:black" aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span style="color:black;font-family:Bookman, URW Bookman L, serif">fundoo Notes</span>
    <div class="right">
      <form id="search">
        <input #search type="search" placeholder="Search" [ngClass]="{'filled':filled}" 
             (click)="filled=true" (blur)="filled=search.value?true:false"> 
      </form>
    </div>
  </mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <!-- <mat-toolbar class="tool">Menu</mat-toolbar> -->
    <mat-nav-list>
      <a mat-list-item >Notes</a>
      <a mat-list-item >Reminders</a>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>

    <!-- <mat-toolbar class="tool"> -->
      
    <!-- </mat-toolbar> -->

  </mat-sidenav-content>


</mat-sidenav-container>