<div fxLayout='row wrap' fxLayoutAlign="start start" fxLayoutGap="10px" style='margin-top: 8%;'>
  <mat-card class="expand" fxFlex=30 *ngFor='let note of array1'>

    <mat-card-title>
      <div [innerHtml]="note.title"></div>
    </mat-card-title>
    <mat-card-content>
      <div [innerHtml]="note.description"></div>
    </mat-card-content>
    <mat-icon style="cursor: pointer;float:right" matTooltip="More" aria-label="more" [matMenuTriggerFor]="appMenu">more_vert</mat-icon>

  </mat-card>



  <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
    <div style="padding:10px" fxLayout="column">
      <button mat-button (click)="deleteForever(note)">Delete Forever</button>
      <button mat-button>Restore</button>
    </div>
  </mat-menu>
</div>

<!-- <div fxLayout='row wrap' fxLayoutAlign="start start" fxLayoutGap="10px" style='margin-top: 8%;'>
    <mat-card class="expand" fxFlex=30 *ngFor='let x of array'>
  
      <mat-card-title>
        <div [innerHtml]="x.title"></div>
      </mat-card-title>
      <mat-card-content>
        <div [innerHtml]="x.description"></div>
      </mat-card-content>
      <div>
  
        <app-remind></app-remind>
        <app-collaborator></app-collaborator>
        <app-changecolor></app-changecolor>
        <app-addimage></app-addimage>
        <app-archives></app-archives>
        <app-more ></app-more>
  
      </div>
    </mat-card>
  
  </div> -->