@import "../../../scss/variables"; 
@import "../../../scss/mixins"; 
@import "../../../scss/spacingVariables.scss";

.expand 
{

    margin-top: 2%;
    word-wrap: break-word;

}
.cardsize
{
    @include cardsize;
}
.trashMargin
{
    margin-top: $hundred;
 
}
mat-card{
    width: 280px;
}