<div fxLayout='row wrap' fxLayoutAlign="start start" fxLayoutGap="10px" 
    style='margin-top: 8%;'>
  <mat-card  class="expand" fxFlex=30 *ngFor='let x of array ' [style.backgroundColor]="x.color">
<div (click)="openDialog(x)">
    <mat-card-title>
      <div [innerHtml]="x.title"></div>
    </mat-card-title>
    <mat-card-content>
      <div [innerHtml]="x.description"></div>
    </mat-card-content>
  </div>
    <mat-card-actions>
      <mat-icon style="cursor: pointer;float:right" matTooltip="More" aria-label="more" [matMenuTriggerFor]="appMenu">more_vert</mat-icon>
      <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
        <div style="padding:10px" fxLayout="column">
          <button mat-button (click)="deleteforever(x.id)">Delete Forever</button>
          <button mat-button (click)=" restoreNotes(x.id) ">Restore</button>
        </div>
      </mat-menu>
    </mat-card-actions>

  </mat-card>



</div>


