<!-- <div class="example-container">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="User Name" required>    
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Password" type="password" required>
    </mat-form-field>

</div> -->
<div class="example-container" >
    <!-- <div class="item item-1" fxFlex="50%"></div> -->
    <!-- <div class="item item-2" fxFlex="50%" fxFlexOrder="3"></div>
    <div class="item item-3" fxFlex></div> -->

    <mat-card class="example-height">
        <br>
        <span class="shadow"><h1>fundoo</h1></span>

        <mat-card-header>
            <mat-card-title>
                <h3>Login</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="example">
            <form >
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Username" name="username" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Password" type="password" name="password" [type]="hide ? 'password' : 'text'" required> 
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
            <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
        </mat-card-content>
        <mat-card-actions class="example-full-width">
            <button mat-raised-button (click)="login()" style="float:right" color="primary">Login</button>
            <a href='signup'><button mat-button  style="float:left" color="primary">Create account</button></a>
        </mat-card-actions>
    </mat-card>
</div>