@import "../../../scss/variables"; 
@import "../../../scss/mixins"; 
@import "../../../scss/spacingVariables.scss";

.collaborator{
    @include collaborator;
}
.padding{
    padding: $ten;
}
.buttons{
    // float: right;
    padding:2%;
}

.spactop{
    margin-top: $twenty;
}
.collaboratorName{
    @include collab_mail_name;
    color: $collab_name;
}
.collaboratorMail{
    @include collab_mail_name;
    color: $collab_mail;
}
.collabDone{
padding: 40px;
}
.photo
{
@include profilephoto();
}
.collaboratorpic
{
    padding: -25px;
}
.adduser
{
    margin-top: $thirty;
}
.adduser1
{
    margin-top: $fifty;
    cursor: pointer;
}
.profilepic{
@include profilepic2()
  }

.profile-pic 
{
float: right;
color: $black;
text-transform: uppercase;

}
.searchUsers{
    @include searchUserlist();
}
.gap
{
    margin-left: 25px;
}
.searcList{
    @include searchList();
}
.collabUsers{
    overflow-y: auto;
}
.shade{
    background-color: $gray;
}
.imageMargin{
    margin-top: $ten;

}
.removeCollab{
    margin-bottom: 15px;
    cursor: pointer;
}