@import "../../../scss/variables"; 
@import "../../../scss/mixins"; 
@import "../../../scss/spacingVariables.scss";

.collaborator{
    border-bottom: 1px solid $collaborators;
    font-size: 18px;
    font-weight: 500;
    height: 25px;
    padding: 0 0 10px 0;
}
.padding{
    padding: $ten;
}
.buttons{
    // float: right;
    padding:2%;
}

.spactop{
    margin-top: $twenty;
}
.collaboratorName{
    @include collab_mail_name;
    color: $collab_name;
}
.collaboratorMail{
    @include collab_mail_name;
    color: $collab_mail;
}


.photo
{
@include profilephoto();
}
.collaboratorpic
{
    padding: -25px;
}
.adduser
{
    margin-top: $thirty;
}
.profilepic{
@include profilepic2()
  }

.profile-pic 
{
float: right;
color: $black;
text-transform: uppercase;

}
.searchUsers{
    width: 110%;
    height: 20%;
    margin-top: $fifty;
    outline: none;
    border-color: transparent;
    border: none;
}
.gap
{
    margin-left: 25px;
}
.searcList{
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    scroll-behavior: none;
}
.collabUsers{
    overflow-y: auto;
}
.shade{
    background-color: $gray;
}
.imageMargin{
    margin-top: $ten;

}
.removeCollab{
    margin-bottom: 15px;
    cursor: pointer;
}