.pinned
{
    margin-left: 9%;
    font-family: 'Times New Roman', Times, serif;
    font-style: inherit;
    // position: fixed;
}
.notestop
{
    margin-top:-5%;
}
.unpinednotes
{
    margin-top: -10%;
}
.carddown
{
    margin-bottom: 10%;
}