.pinned
{
    margin-left: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-style: initial;
    // position: fixed;
}
.notestop
{
    margin-top:-5%;
}
.unpinednotes
{
    margin-top: -10%;
}