.pinned
{
    margin-left: 9%;
    color: #5f6368;
    letter-spacing: .07272727em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .6875rem;
    font-weight: 500;

    // position: fixed;
}
.notestop
{
    margin-top:-5%;
}
.unpinednotes
{
    margin-top: -10%;
}
.carddown
{
    margin-bottom: 10%;
}