<app-addnotes (message)="receive($event)">

</app-addnotes>
<div *ngIf="pinArray.length !=0">
    <div class="pinned">pinned</div>
    <app-collectionnotes [cardadded]="pinArray" (addnotes)="receive($event)">
    </app-collectionnotes>

    <div>others</div>
    <app-collectionnotes [cardadded]="array" (addnotes)="receive($event)">
    </app-collectionnotes>
</div>

<div *ngIf="pinArray.length ==0">
    <app-collectionnotes [cardadded]="pinArray" (addnotes)="receive($event)">
    </app-collectionnotes>
    <app-collectionnotes [cardadded]="array" (addnotes)="receive($event)">
    </app-collectionnotes>
</div>