.car
{
    height: 10rem;
    width: 10rem;
}
.spa
{
    padding: 5rem;
    position: fixed;
}
.mar
{
    margin-top: 5%;
}
.expand 
{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  height: 0%;
  opacity: 0.7;
  position: fixed;
  width: 50%;
}