    <div fxLayout='column' fxLayoutAlign="center center" style="margin-top: 40px;">
      
            <mat-card *ngIf='open' aria-placeholder="Take a Note" (click)="function()">
              Take a note...
              <div fxLayout="row" fxLayoutAlign="space-evenly center"  class="list">
                <span > <mat-icon matTooltip="New List" matTooltipPosition="above">list</mat-icon> </span> 
                <span > <mat-icon matTooltip="New note with Image" matTooltipPosition="above">insert_photo</mat-icon> </span>
                <span > <mat-icon matTooltip="New note with Drawing" matTooltipPosition="above">create</mat-icon> </span>
              </div>
            </mat-card>
         
  
        <mat-card *ngIf="!open" aria-placeholder="Title" >
          
           <div contenteditable="true" id="title" class="content" data-text="Title"></div>
           <div class="space"></div>
           <div contenteditable="true" id="description" class="content" data-text="Take a note..."></div>
           <div class="bot " fxLayout="row" fxLayoutAlign="space-around center" >
           
              <app-remind></app-remind>
              <app-collaborator></app-collaborator>
              <app-changecolor></app-changecolor>
              <app-addimage></app-addimage>
              <app-archives></app-archives>
              <app-more></app-more>
          
           <div (click)="close();exit()" class="space1"> <button mat-button >close</button></div>
          </div>
        </mat-card>
     
    </div>