<div *ngIf="collaboratorIcon==0" class="response" fxLayout='column' fxLayoutAlign="center center">

  <!-- ********************************Add note starts********************** -->
  <mat-card fxFlex *ngIf='open' aria-placeholder="Take a Note" (click)="function()">
    Take a note...
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="list">
      <span>
        <mat-icon matTooltip="New List" (click)="functionCheckbox()" matTooltipPosition="above">list</mat-icon>
      </span>
    </div>
  </mat-card>

  <!--****** creating notes dialog will be opened for editing notes ***********-->
  <mat-card *ngIf="!open" autofocus [style.backgroundColor]="color" aria-placeholder="Title">
    <img class="pin" src="../../../assets/images/pin.svg">

    <!-- ******************** title goes here...****************************** -->
    <mat-card-title contenteditable="true" id="title" class="content" data-text="Title"></mat-card-title>
    <div class="space"></div>
    <div *ngIf="open1 == 0">
      <!--********************* Description goes here **************************-->
      <mat-card-content contenteditable="true" id="description" class="content" data-text="Take a note..." (click)="checked=false"></mat-card-content>
    </div>

<div>
  <div *ngFor="let collab of collaborator">
    <button mat-mini-fab>
      {{collab.firstName}}
    </button>
  </div>
</div>



    <!--*********** Labels will be displayed using below div...**************** -->
    <div fxLayout="row">
      <div *ngFor="let items of name">
        <mat-chip-list selected>
          <mat-chip>{{items.label}}
            <mat-icon matChipRemove (click)="cancelLabel()">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <!-- <div fxLayout="row"> -->
    <div *ngFor="let items of dateArray">

      <mat-chip-list>
        <div *ngIf="(today | date:shortDate)==(items | date:shortDate)">
          <mat-chip>Today , {{items | date:'shortTime'}}
            <mat-icon matChipRemove (click)="cancelReminder()">cancel</mat-icon>
          </mat-chip>
        </div>

        <div *ngIf="(nextDay | date:shortDate)==(items | date:shortDate)">
          <mat-chip>tomorrow, {{items | date:'shortTime'}}
            <mat-icon matChipRemove (click)="cancelReminder()">cancel</mat-icon>
          </mat-chip>
        </div>

        <div *ngIf="(today | date:shortDate)!=(items | date:shortDate) && 
          (nextDay | date:shortDate)!=(items | date:shortDate)">
          <mat-chip>{{items | date:'medium'}}
            <mat-icon matChipRemove (click)="cancelReminder()">cancel</mat-icon>
          </mat-chip>
        </div>

      </mat-chip-list>
    </div>
    <!-- </div> -->

    <!-- code for checkbox  starts -->
    <div *ngIf="open1 == 1" id="title" autofocus #description>
      <div class="check" *ngFor="let data of dataarray" id="note" fxLayout="row">

        <mat-checkbox fxFlex="5%"></mat-checkbox>
        <input fxFlex="90" *ngIf="open1 == 1" class="inputNote1" id="note" [(ngModel)]=data.data (keydown)="editing($event.data)">
        <mat-icon fxFlex="4%" (click)=ondelete(data) matTooltip="delete">cancel</mat-icon>
      </div>
      <mat-divider></mat-divider>

      <div class="check" fxLayout="row" id="title" id="note" autofocus id="description">
        <mat-icon fxFlex="5%">add</mat-icon>
        <input id="note" [(ngModel)]=data fxFlex="95%" class="inputNote" [(ngModel)]=data.data placeholder="list item"
          (click)="checked=true" (keydown.enter)="enter()">
      </div>
      <mat-divider></mat-divider>

    </div>

    <!-- icons  -->
    <div class="bot" fxLayout="row wrap"  fxLayoutAlign="space-between center">
      <div >
        <app-remind class="iconGap" (dateEmit)="emitted($event)" [reminder]="index"></app-remind>
      </div>
      <div class="iconGap" (click)="functionCollaborator()">
        <mat-icon   >person_add</mat-icon>
      </div>
      <div >
        <app-changecolor class="iconGap" (colorEmit)=colour($event)></app-changecolor>
      </div>
      <!-- <div fxFlex=10>
        <app-addimage></app-addimage>
      </div> -->
      <div >
        <mat-icon class="iconGap">archive</mat-icon>
      </div>
      <div >
        <app-more class="iconGap" (labelList)=labelList($event)></app-more>
      </div>
      <div ><span (click)="exit()" class="gap"> <button mat-button>close</button></span></div>
    </div>
  </mat-card>


</div>

<!-- 
<mat-card ng-show="!functionCollaborator()" autofocus [style.backgroundColor]="color" aria-placeholder="Title">
<div>

</div>
  </mat-card> -->


  <!-- ---------------------------- collaborators starts --------------------------------- -->
<div class="response" *ngIf="collaboratorIcon==1" fxLayout='column' fxLayoutAlign="center center">
<mat-card>
  <!-- ---------------------------- collaborators starts --------------------------------- -->

    <div class="collaborator">
      Collaborators
    </div>
  
    <div class="spac"></div>
    <div>
      <div fxLayout="column">
        <div class="spactop" fxLayout="row">
          <!-- if user has profile pic, Pic will be displayed -->
          <div *ngIf="image!=''">
            <div class="profilepic">
              <img src="{{img}}" class="photo">
            </div>
          </div>
          <!-- if user does not have profile photo,First letter will be displayed -->
          <div *ngIf="image==''">
            <button mat-mini-fab color="disabled">
              {{firstName | slice:0:1}}
            </button>
          </div>
  
          <div fxLayout="column" fxLayoutAlign="space-around ">
            <span class="collaboratorName">{{firstName}} {{lastName}}(Owner)</span>
            <span class="collaboratorMail">{{email}}</span>
          </div>
        </div>
        <br>
  
        <div fxLayout="column" fxLayoutAlign="space-between  start">
          <div fxLayout="row" *ngFor="let data of collaborator " class="imageMargin">
            <div fxFlex="10">
              <button mat-fab color="basic" class="photo">
                {{data.firstName | slice:0:1}}
              </button>
            </div>
            <div fxFlex="80" fxLayout="column" fxLayoutAlign="space-around ">
              <span class="collaboratorName"> {{data.firstName | titlecase}}{{data.lastName | titlecase}}</span>
              <span class="collaboratorMail"> {{data.email}}</span>
            </div>
            <div fxFlex="10">
            <mat-icon class="removeCollab" (click)="removeCollaborators(data)">close</mat-icon>
          </div>
          </div>
        </div>
  
        <div fxLayout="row">
          <!-- <div fxLayout="row"> -->
          <div fxFlex="10" class="adduser">
            <button mat-fab color="disabled">
              <mat-icon>person_add</mat-icon>
            </button>
          </div>
          <div fxFlex="80" class="gap">
            <input matInput contenteditable="true" placeholder="Person or Email To Share With" [(ngModel)]="searchValue"
              [matMenuTriggerFor]="searchMenu" class="searchUsers" (keyup)="searchUsers()">
          </div>
          <div fxFlex="10">
          <mat-icon  class="adduser1" (click)="enterNewUser(searchValue)">done</mat-icon>
        </div>
  
          <mat-menu #searchMenu="matMenu">
            <button mat-button *ngFor="let searchItems of searchArray | slice:0:5" (click)="select(searchItems.email)">
              {{searchItems.firstName}} {{searchItems.lastName }} ({{searchItems.email }})
            </button>
          </mat-menu>
         
        
  
        </div>
      </div>
    </div>
    <hr>
    <div class="shade">
      <div class="buttons " fxLayout="row" fxLayoutAlign="end center">
        <div>
          <button mat-button (click)="functionCollaboratorClose()">Cancel</button>
        </div>
        <div>
          <button mat-button (click)="functionCollaboratorClose()">Save</button>
        </div>
      </div>
    </div>

  <!-- -------------------------------- collaborators end --------------------------------- -->
</mat-card>
</div>
<!-- -------------------------------- collaborators end --------------------------------- -->