<div fxLayout='column' fxLayoutAlign="center center" style="margin-top: 100px;">

  <mat-card *ngIf='open' fxFlex="0 1 calc(30% - 32px)" aria-placeholder="Take a Note"  (click)="function()">
    Take a note...
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="list">
      <span> <mat-icon matTooltip="New List" (click)="functionCheckbox()" matTooltipPosition="above">list</mat-icon>
      </span>
      <span> <mat-icon matTooltip="New note with Image" matTooltipPosition="above">insert_photo</mat-icon>
      </span>
      <span> <mat-icon matTooltip="New note with Drawing" matTooltipPosition="above">create</mat-icon>
      </span>
    </div>  
  </mat-card>
   

  <mat-card *ngIf="!open" [style.backgroundColor]="color" aria-placeholder="Title">


    <img src="../../../assets/images/pin.svg" matTooltip="Pin" class="pin">
    <div contenteditable="true" id="title" class="content" data-text="Title"></div>
    <div class="space"></div>
    <div *ngIf="open1 == 0">
      <div contenteditable="true" id="description" class="content" data-text="Take a note..."></div>
    </div>

    <div fxLayout="row">
      <div *ngFor="let items of name">
        <mat-chip-list selected>
          <mat-chip>{{items.label}}
            <mat-icon matChipRemove >cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <div *ngIf="open1 == 1">
      <hr>
      <div fxFlexLayout="row" fxLayoutAlign="center center">
      <mat-icon>add</mat-icon>
      <input (keydown)="onKeydown($event)" id="description" class="content" placeholder="list">
    </div>
      <hr>
    </div>

    <div class="bot " fxLayout="row" fxLayoutAlign="space-around center">

      <app-remind></app-remind>
      <app-collaborator></app-collaborator>
      <app-changecolor (colorEmit)=colour($event)></app-changecolor>
      <app-addimage></app-addimage>
      <app-archives></app-archives>
      <app-more (labelList)=labelList($event)></app-more>

      <div (click)="exit()" class="space1"> <button mat-button>close</button></div>
    </div>
  </mat-card>


</div>
