/* .expand 
{

  margin-top: 2%;
 word-wrap: break-word;

}
.pin
{
    float: right;
} */

.mat-dialog-container{
    padding: 0px !important;
}
.cancel
{
    margin-bottom: 10px;
    margin-left: 3px;
}
.grid
{
    
}
.list
{
    width: 800px;
}
.pin
{
    float : right;
    cursor: pointer;
}