@import "../../../scss/variables"; 
@import "../../../scss/mixins"; 
@import "../../../scss/spacingVariables.scss";

.mat-dialog-container{
    padding: 0px !important;
}
.cancel
{
    margin-bottom: 10px;
    margin-left: 3px;
}
.grid{
    .mat-card{
        width: 240px;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
 
.list
{
    .mat-card
    {
        width: 700px;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }
}
.pin
{
    float : right;
    cursor: pointer;
}
.layout
{
    margin-top: 80px; 
    margin-bottom: 20px;
    position: sticky;
}
.cardsize
{
@include cardsize;
}
.space
{
    padding: 5px;
    flex-direction: row
}

.word
{
    word-wrap: break-word;
}

 
 .expand 
{

  margin-top: 2%;
 word-wrap: break-word;

}

.layout
{
    justify-content: center;
    display: flex;
}
.card {
	background: $whitecolor;
    margin-bottom: 2em;	
    
}

.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.card {
	justify-content: center
}
.check
{
    border:none;
    outline: none;
    word-wrap: break-word;
    background:transparent;
 }
.labelOver
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
    width: $fifty;
}
.gapbetween
{
    margin-top: 5%;
}