<div fxFlex="7" fxFlex.gt-lg="2" fxFlex.gt-md="6" fxFlex.gt-sm="8"></div>
<div fxFlex.gt-lg="93" fxLayout="row wrap" fxLayout.xs="row wrap" fxLayoutAlign.xs="center" fxLayoutWrap fxLayoutGap="2%"
  fxLayoutAlign="start" class="container card">
  <div *ngFor='let index of cardadded | LockFilter:inputData ; trackBy:index?.noteId'>
    <div [ngClass]="{'grid':!toggle,'list':toggle}">
      <!--******************* prints collection of notes ************************ -->
      <mat-card class="cardsize" [style.backgroundColor]="index.color">
        <app-pin class="pin" [pinArr]="index" (pinEmit)="new($event)"></app-pin>
        <mat-card-title (click)="openDialog(index)">
          <div [innerHtml]="index.title"></div>
        </mat-card-title>
        <mat-card-content (click)="openDialog(index)">
          <div [innerHtml]="index.description"></div>
        </mat-card-content>

        <!--************************** ui view for checklist ***********************-->
        <div *ngFor="let checklist of index.noteCheckLists" fxLayout="row">
          <mat-checkbox fxFlex="10%" *ngIf="checklist.status=='open'&& !checklist.isDeleted" (click)=checkBox(checklist,index)></mat-checkbox>
          <input class="check" *ngIf="!checklist.isDeleted && checklist.status=='open' " [(ngModel)]=checklist.itemName
            fxFlex="90%" (click)="open(index)" [style.backgroundColor]="index.color">
        </div>

        <div *ngFor="let checklist of index.noteCheckLists" fxLayout="row">
          <mat-checkbox fxFlex="10%" checked=true *ngIf="checklist.status=='close'&& !checklist.isDeleted" (click)=checkBox(checklist,index)></mat-checkbox>
          <del class="check" *ngIf="!checklist.isDeleted && checklist.status=='close'" (click)="open(index)">{{checklist.itemName}}</del>
        </div>


        <!--************************ to view labels in card collection *******************-->
        <div fxLayout="row wrap" fxLayoutGap="5px">
          <div *ngFor="let items of index.noteLabels">
            <div *ngIf="items.isDeleted == false">
              <mat-chip-list selected>
                <mat-chip (click)="goToLabel(items)">
                  <span class="labelOver">{{items.label}}</span>
                  <mat-icon matChipRemove (click)="removeLabel( index.id,items.id)">
                    cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>

        <div fxLayout="row">
          <div *ngFor="let collab of index.collaborators">
            <button mat-mini-fab color="disabled">
              {{collab}}
            </button>
          </div>
        </div>


        <div class="gapbetween"></div>
        <!--************************ To view reminders in card collection******************** -->
        <div *ngIf="remiderCutOff(index.reminder[0])">
          <div *ngIf="index.reminder.length!=0">
            <div *ngFor="let remin  of index.reminder">
              <mat-chip-list class="chip">
                <!-- ****************  Displays reminder as Today  ********* -->
                <div *ngIf="(today | date:shortDate)==(remin | date:shortDate)">
                  <mat-chip class="chip_color">
                    <mat-icon (click)="removeReminder(notes.id)">query_builder</mat-icon>
                    Today , {{remin | date:'shortTime'}}
                    <mat-icon (click)="$event.stopPropagation(); removeReminder(index.id)">
                      cancel</mat-icon>
                  </mat-chip>
                </div>

                <!-- ****************  Displays reminder as Tomorrow  ********* -->
                <div *ngIf="(tomorrow | date:shortDate)==(remin | date:shortDate)">
                  <mat-chip class="chip_color">
                    <mat-icon (click)="removeReminder(notes.id)">query_builder</mat-icon>Tomorrow , {{remin |
                    date:'shortTime'}}
                    <mat-icon (click)="$event.stopPropagation(); removeReminder(index.id)">
                      cancel</mat-icon>
                  </mat-chip>
                </div>

                <div *ngIf="(tomorrow | date:shortDate)!=(remin | date:shortDate) 
                          && (today | date:shortDate)!=(remin | date:shortDate)">
                  <mat-chip class="chip_color">
                    <mat-icon (click)="removeReminder(notes.id)">query_builder</mat-icon>{{remin | date:'medium'}}
                    <mat-icon (click)="$event.stopPropagation(); removeReminder(index.id)">
                      cancel</mat-icon>
                  </mat-chip>
                </div>

              </mat-chip-list>
            </div>
          </div>
        </div>

        <!--********** to cut off reminders once it is expired in card collection**********-->
        <div *ngIf="!remiderCutOff(index.reminder[0])">
          <div *ngIf="index.reminder.length!=0">
            <div *ngFor="let remin  of index.reminder">
              <mat-chip-list class="chip">

                <div *ngIf="(today | date:shortDate)==(remin | date:shortDate)">
                  <mat-chip class="chip_color">
                    <mat-icon (click)="removeReminder(notes.id)">query_builder</mat-icon>
                    <del>Today , {{remin | date:'shortTime'}}</del>

                    <mat-icon (click)="$event.stopPropagation(); removeReminder(index.id)">
                      cancel</mat-icon>
                  </mat-chip>
                </div>


                <div *ngIf="(tomorrow | date:shortDate)==(remin | date:shortDate)">
                  <mat-chip class="chip_color">
                    <mat-icon (click)="removeReminder(notes.id)">query_builder</mat-icon>
                    <del>Tomorrow , {{remin | date:'shortTime'}}</del>

                    <mat-icon (click)="$event.stopPropagation(); removeReminder(index.id)">
                      cancel</mat-icon>
                  </mat-chip>
                </div>

                <div *ngIf="(tomorrow | date:shortDate)!=(remin | date:shortDate) 
                          && (today | date:shortDate)!=(remin | date:shortDate)">
                  <mat-chip class="chip_color">
                    <mat-icon (click)="removeReminder(notes.id)">query_builder</mat-icon>
                    <del>{{remin | date:'medium'}}</del>

                    <mat-icon (click)="$event.stopPropagation(); removeReminder(index.id)">
                      cancel</mat-icon>
                  </mat-chip>
                </div>

              </mat-chip-list>
            </div>
          </div>
        </div>

        <!-- ************************ all icons are displayed here *******************-->
        <div fxLayout="row" fxLayoutAlign="space-between">

          <app-remind (reminderEmit)=new($event) [reminder]="index"></app-remind>
          <app-collaborator [collaborator]="index"></app-collaborator>
          <app-changecolor [color]="index" (colorEvent)=new($event)>
          </app-changecolor>
          <app-addimage></app-addimage>
          <app-archives [archive]="index" (archiveEvent)=new($event)>
          </app-archives>
          <app-more [carddel]="index" (deleteevent)=new($event)>
          </app-more>

        </div>

      </mat-card>
    </div>
  </div>
  <div fxFlex="5" fxFlex.gt-lg="5" fxFlex.gt-md="6" fxFlex.gt-sm="9"></div>