<div fxLayout='row wrap' fxLayoutAlign="start start" fxLayoutGap="10px" style='margin-top: 8%;'>
  <mat-card class="expand" fxFlex=30 *ngFor='let x of cardadded'>

    <mat-card-title>
      <div [innerHtml]="x.title"></div>
    </mat-card-title>
    <mat-card-content>
      <div [innerHtml]="x.description"></div>
    </mat-card-content>
    <div>

      <app-remind></app-remind>
      <app-collaborator></app-collaborator>
      <app-changecolor></app-changecolor>
      <app-addimage></app-addimage>
      <app-archives [archive]="x"></app-archives>
      <app-more [carddel]="x"  (deleteevent)=new($event)></app-more>

    </div>
  </mat-card>

</div>