.mat-dialog-container{
    padding: 0px !important;
}
.cancel
{
    margin-bottom: 10px;
    margin-left: 3px;
}
.grid
{
    
}
 
.list
{
    width: 700px;
}
.pin
{
    float : right;
    cursor: pointer;
}
.layout
{
    margin-top: 80px; 
    margin-bottom: 20px;
    position: sticky;
}
.cardsize
{
    margin-top: 20px; 
    // width:150px;
    border-radius: 5%;
    word-wrap: break-word;
}
.space
{
    padding: 5px;
    flex-direction: row
}

.word
{
    word-wrap: break-word;
}
.check
{
    border:none;
    outline: none;
    word-wrap: break-word;
    background:transparent;
 }
 
 .expand 
{

  margin-top: 2%;
 word-wrap: break-word;

}



// .mat-card
// {
//     width: 18rem;
// }
.layout
{
    justify-content: center;
    display: flex;
    // flex-wrap: wrap;
    // width: 20rem;
}
.card {
	background: white;
	margin-bottom: 2em;	
}



/* Flexbox stuff */

.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.card {
	flex: 0 1 24%;
}
