<div fxLayout='row wrap' fxLayoutAlign="start start" fxLayoutGap="20px" style='margin-top: 8%; margin-left: 5%;'>

  <mat-card  (updateEmit)="new($event)"  style='margin-top: 30px;'  *ngFor='let x of cardadded' [style.backgroundColor]="x.color">
    <img src="../../../assets/images/pin.svg" matTooltip="Pin" class="pin">

    <mat-card-title (click)="openDialog(x)" >
      <div [innerHtml]="x.title"></div>
    </mat-card-title>
    <mat-card-content  (click)="openDialog(x)">
        <div [innerHtml]="x.description"></div>
    </mat-card-content>


    <div fxLayout="row">
        <div *ngFor="let items of x.noteLabels">
        <mat-chip-list selected>
        <mat-chip>{{items.label}}
          <mat-icon matChipRemove (click)="removeLabel(items.id, x.id)">cancel</mat-icon>
        </mat-chip>
        </mat-chip-list>
      </div>
      </div>
    <div>

      <app-remind></app-remind>
      <app-collaborator></app-collaborator>
      <app-changecolor [color]="x" (colorEvent)=new($event)></app-changecolor>
      <app-addimage></app-addimage>
      <app-archives [archive]="x" (archiveEvent)=new($event)></app-archives>
      <app-more [carddel]="x" (deleteevent)=new($event)></app-more>

    </div >
  </mat-card >


</div>