.mat-dialog-container{
    padding: 0px !important;
}
.cancel
{
    margin-bottom: 10px;
    margin-left: 3px;
}
.grid
{
        .mat-card
        {
            width: 240px;

        }
}
 
.list
{
    .mat-card
    {
        width: 700px;
    
    }
}
.pin
{
    float : right;
    cursor: pointer;
}
.layout
{
    margin-top: 80px; 
    margin-bottom: 20px;
    position: sticky;
}
.cardsize
{
    margin-top: 20px; 
    border: 0px solid #dadce0;
    position: relative;
    border-radius: 5%;
    word-wrap: break-word;
}
.space
{
    padding: 5px;
    flex-direction: row
}

.word
{
    word-wrap: break-word;
}

 
 .expand 
{

  margin-top: 2%;
 word-wrap: break-word;

}

.layout
{
    justify-content: center;
    display: flex;
}
.card {
	background: white;
	margin-bottom: 2em;	
}

.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.card {
	justify-content: center
}
.check
{
    border:none;
    outline: none;
    word-wrap: break-word;
    background:transparent;
 }
.labelOver
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
    width: 50px;
}