<mat-icon style="cursor: pointer;" matTooltip="More" aria-label="more" [matMenuTriggerFor]="appMenu">more_vert</mat-icon>
<mat-menu #appMenu="matMenu" [overlapTrigger]="false">
  <div style="padding:10px" fxLayout="column">
    <button mat-button (click)="delete()">Delete note</button>
    <button mat-menu-item [matMenuTriggerFor]="labelMenu">Add label</button>
  </div>
</mat-menu>

<mat-menu #labelMenu="matMenu">
  <div>
    <input type="text" placeholder="search" [(ngModel)]="search" (click)="$event.stopPropagation()" >
  </div>
  <div *ngFor="let labels of arr | LockFilter: search " fxLayoutAlign="space-between center">
    <mat-checkbox (click)="$event.stopPropagation(); addChips(labels)">{{labels.label}}
    </mat-checkbox>
  </div>
</mat-menu>




