@import "../../../scss/variables"; 
@import "../../../scss/mixins"; 
@import "../../../scss/spacingVariables.scss";

.example-container {
  @include loginandsignup;
}
.shadow0 {
  @include fundootitle;
  color: $fundoo-blue;
}
.shadow1 {
  @include fundootitle;
  color:$fundoo-red;
}
.shadow2 {
  @include fundootitle;
  color: $fundoo-yellow;
}
.shadow3{
  @include fundootitle;
  color: $fundoo-blue;
}
.shadow4 {
  @include fundootitle;
  color:$fundoo-green;
}
.shadow5 {
  @include fundootitle;
  color: $fundoo-red;
}
.example {
    width: 300px;
    height:$hundred;
    float: left;
  }
  .example-full-width {
    width: 250px;
  }
  .example-height
  {
    height:320px;
  }
  .break
  {
    margin-top: 20%;
  
  }

  // .mat-card
  // {
  //     width: 300px;
  //     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  // }
  // @media only screen and (min-width: 0px) and  (max-width: 360px){
  //     mat-card{
  //         width:200px ;
  //         height:320px;
  //         // word-break: break-all;
          
  //     }
  // }
  // @media only screen and (min-width: 361px) and  (max-width: 375px){
  //     mat-card{
  //         width:320px !important;
  //         // word-break: break-all;
  //     }
  // }