.example-container {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  /* vertical-align: middle; */
  display: flex;
  justify-content: center;
  align-items: center;   
  height: 100vh;
  width: 100%; 

}
.shadow0 {
  font-size: 250%;
  /* text-shadow: 5px 5px 5px black; */
  color: rgb(3, 163, 255);
  text-align: center;
}
.shadow1 {
  font-size: 250%;
  /* text-shadow: 5px 5px 5px blue; */
  color: rgb(250, 2, 2);
  text-align: center;
}
.shadow2 {
  font-size: 250%;
  /* text-shadow: 5px 5px 5px orange; */
  color: rgb(250, 233, 4);
  text-align: center;
}.shadow3{
  font-size: 250%;
  /* text-shadow: 5px 5px 5px brown; */
  color: rgb(3, 163, 255);
  text-align: center;
}.shadow4 {
  font-size: 250%;
  /* text-shadow: 5px 5px 5px rgb(66, 228, 228); */
  color: rgb(43, 248, 2);
  text-align: center;
}
.shadow5 {
  font-size: 250%;
  /* text-shadow: 5px 5px 5px magenta; */
  color: rgb(250, 2, 2);
  text-align: center;
}
.shadow {
  font-size: 110%;
  /* text-shadow: 4px 2px 4px rgb(59, 15, 218); */
  /* text-align: center; */
}
.example {
    /* width: 100%; */
    width: 300px;
    height:100px;
    float: left;
  
  }
.button{
    
}
.example-form {
    min-width: 100px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-height
  {
    height:320px;
  }
  .break
  {
    margin-top: 20%;
  
  }