@import "../../../scss/variables"; 
@import "../../../scss/mixins"; 
@import "../../../scss/spacingVariables.scss";

.marg
{
    margin-top: 20%;
}
.marg1
{
    margin-top: 5%;
}
.marg2
{
    margin-top: 8%;
}
.marg4
{
    margin-bottom: 5%;
}
.flot
{
    float: right;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.content
{
    @include content;
}
.spac
{
margin-right: $thirty;
  
}
.spec
{
    // float: right;
}