<div style="padding:10px ">
  <div class="marg2">Edit labels</div>
  <div class="marg2" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="15">
      <mat-icon>close</mat-icon>
    </div>
    <div fxFlex="70" contenteditable="true" placeholder="Create new Label" class="content" id="Label"
      (input)="res=$event.target.innerText" placeholder="Create new Label"></div>
    <div fxFlex="15">
      <mat-icon>check</mat-icon>
    </div>
  </div>
  <!-- <hr>  -->
  <div fxayout="column" class="labelList">
    <a mat-list-item>
      <div *ngFor="let labels of data.array">

        <div *ngIf="show !=labels.id">
          <div fxFlex="15"><i class="material-icons" (click)="deleteLabel(labels.id)" id="label">delete</i></div>
          <div fxFlex="70"><span contenteditable="false" id="label8" [innerHTML]="labels.label"
              class="name"></span></div>

          <div fxFlex="15">
            <mat-icon (click)="edit(labels.id)" class="create">create</mat-icon>
          </div>
        </div>

        <div *ngIf="show ==labels.id">
          <div fxFlex="15"><i class="material-icons" (click)="deleteLabel(labels.id)" id="label">delete</i></div>
          <div fxFlex="70"><span contenteditable="true" #myLabel [innerHTML]="labels.label"
              class="name"></span></div>

          <div fxFlex="15">
            <mat-icon (click)="editLabel(labels.id)" class="create">done</mat-icon>
          </div>
        </div>

      </div>
    </a>
  </div>

  <button class="flot" [mat-dialog-close]="res" id="Label" mat-button>Done</button>
</div>