.marg
{
    margin-top: 20%;
}
.marg1
{
    margin-top: 5%;
}
.marg2
{
    margin-top: 8%;
}
.marg4
{
    margin-bottom: 5%;
}
.flot
{
    float: right;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.content
{

    /* border: none; */
    border-color: transparent;
    outline: none;
    word-wrap: break-word;
    width: 100%;
    min-height: 20px;
}
.spac
{
margin-right: 30px;
  
}
.spec
{
    float: right;
}