@import "../../../scss/variables"; 
@import "../../../scss/mixins"; 
@import "../../../scss/spacingVariables.scss";

.example-container {
  @include loginandsignup;
  }

.shadow0 {
  @include fundootitle;
  color: $fundoo-blue;
}
.shadow1 {
  @include fundootitle;
  color:$fundoo-red;
}
.shadow2 {
  @include fundootitle;
  color: $fundoo-yellow;
}
.shadow3{
  @include fundootitle;
  color: $fundoo-blue;
}
.shadow4 {
  @include fundootitle;
  color:$fundoo-green;
}
.shadow5 {
  @include fundootitle;
  color: $fundoo-red;
}
  .shadow {
    font-size: 110%;

  }
  .example {
    @include forgot-reset;
  }

  .example-form {
    @include forgot-reset1;
    }
    
    .example-full-width {
      width: 100%;
    }
    .example-height
    {
      height:320px;
    }