<!-- <button mat-icon-button [matMenuTriggerFor]="menu">
  <span matTooltip="Remind me" class="space"> 
    <i class="material-icons">touch_app</i>
  </span>
</button>

<mat-menu class="menu" #menu="matMenu">

  <div>Reminder :</div>
  <div fxLayout='column ' fxLayoutAlign="center center">
    <button mat-button (click)="remindMeToday()">
      <span >
        Later today
    </span>
    <span >
      8:00 PM
    </span>
  </button>
    <button mat-button  (click)="remindMeTommorow()" >
      <span>
        Tomorrow
      </span>
      <span>
        Tomorrow
      </span>
    </button>

    <button mat-button  (click)="remindMeNextWeek()">
      <span>Next week</span>
    </button>
    
    <button mat-button>
      <span>
        <i class="material-icons">access_time</i>
        Pick date and time
      </span>
    </button>

    <button mat-button>
      <span><i class="material-icons">location_on</i>
        Pick place
      </span>
    </button>
  </div>
  <div >
 
        <input class="dateBorder" matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

    </div>

    <div >
 
      <input class="dateBorder" matInput [matDatepicker]="picker" placeholder="Choose a Time">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

  </div>
</mat-menu> -->

<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon style="cursor:pointer" matTooltip="Remind Me " aria-label="Remind Me" class="icons">
    touch_app</mat-icon>
</button>

<mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false" class="reminderMenu">
  <div *ngIf="show" class="reminderMenu">
      <div>
          Reminder:
      </div>

      <button mat-menu-item (click)="remindMeToday()">
          <div fxFlex="20">Later today</div>
          <div fxFlex="60"></div>
          <div fxFlex="20"><span>08.00 PM</span></div>
      </button>

      <button mat-menu-item (click)="remindMeTommorow()">
          <div fxFlex="20">Tomorrow</div>
          <div fxFlex="60"></div>
          <div fxFlex="20"><span>08.00 AM</span></div>
      </button>

      <button mat-menu-item (click)="remindMeNextWeek()">
          <div fxFlex="20">Next week</div>
          <div fxFlex="60"></div>
          <div fxFlex="20"><span>08.00 AM</span></div>
      </button>

      <button mat-menu-item (click)="$event.stopPropagation(); datePickReminder()">
          <div>
              <mat-icon>query_builder</mat-icon>Pick Date and Time
          </div>
      </button>
      
  </div>

  <div *ngIf="!show" class="reminderMenu">
      <button mat-icon-button (click)="$event.stopPropagation(); backPressDatepicker()">
          <mat-icon>keyboard_backspace</mat-icon>Pick Date and Time
      </button>
      <hr>
      <mat-form-field>
          <input  (click)="$event.stopPropagation()" matInput [matDatepicker]="picker" [(ngModel)]="reminderBody.date.value"  placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix  [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div fxLayout="row">
          <mat-form-field (click)="$event.stopPropagation()">
              <input matInput placeholder="Choose Time" (click)="$event.stopPropagation()" [matMenuTriggerFor]="timeMenu" [(ngModel)]="reminderBody.time">
          </mat-form-field>
              <mat-icon (click)="$event.stopPropagation()" [matMenuTriggerFor]="timeMenu" class="timeSet">keyboard_arrow_down</mat-icon>
          
      </div>
      <mat-menu #timeMenu [overlapTrigger]=false>
      <div fxLayout="column" *ngFor="let timing of reminders">
              <button mat-button (click)="reminderBody.time = timing.viewTime" (click)="$event.stopPropagation()">
                      
                      <div fxFlex="35" >{{timing.viewPeriod}}</div>
                      <div fxFlex="40"></div>
                      <div fxFlex="35">{{timing.viewTime}}</div>
                      
              </button>
              
      </div>
      <div>
          <button mat-button (click)="$event.stopPropagation()">Custom Time</button>
      </div>
  </mat-menu>
      <div><button mat-button (click)="addRemCustom(reminderBody.date.value,reminderBody.time)">Save</button></div>

  </div>

</mat-menu>
