<button mat-icon-button [matMenuTriggerFor]="menu">
  <span matTooltip="Remind me" class="space"> 
    <i class="material-icons">touch_app</i>
  </span>
</button>

<mat-menu class="menu" #menu="matMenu">

  <div>Reminder :</div>
  <div fxLayout='column ' fxLayoutAlign="center center">
    <button mat-button (click)="$event.stopPropagation();remindMe()">
      <span >
        Later today
    </span>
    <span >
      8:00 PM
    </span>
  </button>
    <button mat-button>
      <span>
        Tomorrow
      </span>
      <span>
        Tomorrow
      </span>
    </button>

    <button mat-button>
      <span>Next week</span>
    </button>
    
    <button mat-button>
      <span>
        <i class="material-icons">access_time</i>
        Pick date and time
      </span>
    </button>

    <button mat-button>
      <span><i class="material-icons">location_on</i>
        Pick place
      </span>
    </button>
  </div>
</mat-menu>