 .delete
{
    margin-top: 10%;
    float: right;
}
.content
{
    overflow: hidden;
    border: none;
    border-color: transparent;
    outline: none;
    word-wrap: break-word;
    width: 100%;
    min-height: 100px;
    
}
