<!-- 
  <div fxLayout="row" fxLayoutAlign="space-between center" class="top">
    <span class="space1" > <app-remind></app-remind></span>
    <span class="space"><app-collaborator></app-collaborator></span> 
    <span class="space"> <app-changecolor></app-changecolor></span> 
    <span class="space"><app-addimage></app-addimage></span>
    <span class="space"><app-archives></app-archives></span>
    <span class="space"><app-more></app-more></span>    
  </div> -->


<!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="top">
  <app-remind></app-remind>
  <app-collaborator></app-collaborator>
  <app-changecolor></app-changecolor>
  <app-addimage></app-addimage>
  <app-archives></app-archives>
  <app-more></app-more>
</div> -->