.example-container {
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 100vh;
    width: 100%; 
  
  }
  .shadow {
    font-size: 110%;
    /* text-shadow: 4px 2px 4px rgb(59, 15, 218); */
    /* text-align: center; */
  }
  .shadow0 {
    font-size: 250%;
    /* text-shadow: 5px 5px 5px black; */
    color: rgb(3, 163, 255);
    text-align: center;
  }
  .shadow1 {
    font-size: 250%;
    /* text-shadow: 5px 5px 5px blue; */
    color: rgb(250, 2, 2);
    text-align: center;
  }
  .shadow2 {
    font-size: 250%;
    /* text-shadow: 5px 5px 5px orange; */
    color: rgb(250, 233, 4);
    text-align: center;
  }.shadow3{
    font-size: 250%;
    /* text-shadow: 5px 5px 5px brown; */
    color: rgb(3, 163, 255);
    text-align: center;
  }.shadow4 {
    font-size: 250%;
    /* text-shadow: 5px 5px 5px rgb(66, 228, 228); */
    color: rgb(43, 248, 2);
    text-align: center;
  }
  .shadow5 {
    font-size: 250%;
    /* text-shadow: 5px 5px 5px magenta; */
    color: rgb(250, 2, 2);
    text-align: center;
  }
  .example {
    /* width: 100%; */
    width: 400px;
    height:500px;
    /* box-shadow: 33px 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
  
  }
  .example1 {
    /* width: 100%; */
    width: 400px;
    height:500px;
     
  
  }
  .example-width {
    /* width: 100%; */
    width: 42%;
    /* height:450px; */
  
  }
  .example-width1 {
    /* width: 100%; */
    width: 95%;
    /* height:450px; */
  
  }
  .example-width2 {
    /* width: 100%; */
    width: 105%;
    /* height:450px; */
  
  }
  
  .plan{
    width:110px;
    height: 100px;
    background-color: rgb(247, 243, 6);
    margin-right:5em;
    
  
  }
  .plan1{
    width: 110px;
    height: 100px;
    background-color: rgb(94, 223, 20);
    margin-left:2em;
    
    
  }
  .content1 {
    width: 300px;
    height: 50%;
    border: 1px solid  white;
    display: flex;
    flex-direction: row;
  }
  