.example-container {
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 100vh;
    width: 100%; 
  
  }
  .shadow {
    font-size: 110%;
  }
  .shadow0 {
    font-size: 250%;
    color: rgb(3, 163, 255);
    text-align: center;
  }
  .shadow1 {
    font-size: 250%;
    color: rgb(250, 2, 2);
    text-align: center;
  }
  .shadow2 {
    font-size: 250%;
    color: rgb(250, 233, 4);
    text-align: center;
  }
  .shadow3{
    font-size: 250%;
    color: rgb(3, 163, 255);
    text-align: center;
  }.shadow4 {
    font-size: 250%;
    color: rgb(43, 248, 2);
    text-align: center;
  }
  .shadow5 {
    font-size: 250%;
    color: rgb(250, 2, 2);
    text-align: center;
  }
  .example {
    width: 400px;
    height:550px;
  
  }
  .example1 {
    width: 400px;
    height:600px;
     
  
  }
  .example-width {
    width: 42%;
  
  }
  .example-width1 {
    width: 92%;
  
  }
  .example-width2 {
    width: 105%;
  
  }
  
  .plan{
    width:110px;
    height: 100px;
    background-color: rgb(247, 243, 6);
    margin-right:5em;
    
  
  }
  .plan1{
    width: 110px;
    height: 100px;
    background-color: rgb(94, 223, 20);
    margin-left:2em;
    
    
  }

  .select
  {
    width: 140px;
    height: 50%;
    background-color:   rgb(166, 205, 221);
    display: flex;
    flex-direction: row;
    word-wrap: breakword;

  }
  .notSelect
  {
    width: 140px;
    height: 50%;
    background-color: rgb(214, 223, 243);
    display: flex;
    flex-direction: row;
    word-wrap: breakword;

  }
  .high

  {
    height: 220px;
  }