@import "../../../scss/variables"; 
@import "../../../scss/mixins"; 
@import "../../../scss/spacingVariables.scss";

.example-container {
  @include loginandsignup;
  }
  .shadow {
    font-size: 110%;
  }
  .shadow0 {
    @include fundootitle;
    color: $fundoo-blue;
  }
  .shadow1 {
    @include fundootitle;
    color:$fundoo-red;
  }
  .shadow2 {
    @include fundootitle;
    color: $fundoo-yellow;
  }
  .shadow3{
    @include fundootitle;
    color: $fundoo-blue;
  }
  .shadow4 {
    @include fundootitle;
    color:$fundoo-green;
  }
  .shadow5 {
    @include fundootitle;
    color: $fundoo-red;
  }
  .example {
    width: 400px;
    height:550px;
  
  }
  .example1 {
    width: 400px;
    height:600px;
     
  
  }
  .example-width {
    width: 42%;
  
  }
  .example-width1 {
    width: 92%;
  
  }

  .plan{
    width:110px;
    height: 100px;
    background-color: $fundoo-yellow;
    margin-right:5em;
    
  
  }
  .plan1{
    width: 110px;
    height: 100px;
    background-color: $fundoo-green;
    margin-left:2em;
    
    
  }

  .select
  {
    @include cardService;
    background-color:   $selectedService;

  }
  .notSelect
  {
    @include cardService;
    background-color: $notSelectedService;
  }
  .high
  {
    height: 220px;
  }