@mixin fundootitle(){
    font-size: 250%;
    text-align: center;
}
@mixin loginandsignup() {
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 100vh;
    width: 100%;   
}
@mixin sidenav() {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
@mixin searchbar {
    width:600px;
    height: 45px;
    border-radius: 8px;
    margin-left: 20px;
    box-sizing: border-box;
    background: transparent;
    outline: none;
    
}

@mixin cardsize() {
    margin-top: 20px; 
    border: 0px solid $black;
    position: relative;
    border-radius: 5%;
    word-wrap: break-word;
}

@mixin cardService() {
    width: 140px;
    height: 50%;
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
}

@mixin forgot-reset() {
    width: 300px;
    height:100px;
    float: left;
}
@mixin forgot-reset1() {
    min-width: 100px;
    max-width: 500px;
    width: 100%;
}

@mixin content() {
    overflow: hidden;
    border: none;
    border-color: transparent;
    outline: none;
    word-wrap: break-word;
    width: 100%;
    min-height: 20px;
}

@mixin confirmdelete() {
    width: 500px;
    height: 50px;
    overflow: hidden;
    padding: 10px;
    align-content: center;
}
@mixin labelOverFlow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
    // width: 0px!important;
}
@mixin  profilephoto() {
    float:left ;
    width:50px;
    height:50px;
    border-radius: 50% ;
}
@mixin profilepic2 {
    width:50px; 
    height:50px; 
    border: none;
    border-radius: 100%;
    background:$whitecolor;
    outline: none;
   
}
@mixin collab_mail_name {
    margin-left: 30px;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Roboto',arial,sans-serif;
}