$ten:10px;
$twenty:20px;
$thirty:30px;
$fourty:40px;
$fifty:50px;
$sixty:60px;
$seventy:70px;
$eighty:80px;
$ninty:90px;
$hundred:100px;
$hundten:110px;
$hundtwenty:120px;
$hundthirty:130px;
$hundfourty:140px;
$hundfifty:150px;
$hundsixty:160px;
$hundseventy:170px;
$hundeighty:180px;
$hundninty:190px;
$twohund:200px;