$whitecolor:#ffffff;
$whitesmoke:#f5f5f5;
$red:#ff0000;
$black:#000000;
$gray:#d5d8dc;

$fundoo-blue:#03a3ff;
$fundoo-red:#fa0202;
$fundoo-yellow:#fae904;
$fundoo-green:#2bf802;

$selectedService:#a6cddd;
$notSelectedService:#d6dff3;

$collaborators:#807b7b;
$collab_mail:#0000008a;
$collab_name:#202124;