<button mat-icon-button>
    <span matTooltip="Change color"  [matMenuTriggerFor]="menu" class="space"> <i class="material-icons">palette</i></span>
</button>


<mat-menu #menu="matMenu">
     <div >
                        <button (click)="change()" style="background-color: #fafafa; width:26px; height:26px; margin-right: 5px; margin-bottom: 3px;margin-left: 3px;" mat-mini-fab></button>
                        <button (click)="change()" style="background-color:#ff8a80; width:26px; height:26px;  margin-right: 5px"mat-mini-fab></button>
                        <button (click)="change()" style="background-color: #ffd180; width:26px; height:26px;  margin-right: 5px"mat-mini-fab></button>
                        <button (click)="change()" style="background-color:#ffff8d; width:26px; height:26px; margin-right: 5px"mat-mini-fab></button>
                </div>

    
                <div>
                        <button (click)="change()" style="background-color:#ccff90; width:26px; height:26px;  margin-right: 5px; margin-bottom: 3px;margin-left: 3px;"mat-mini-fab></button>
                        <button (click)="change()" style="background-color:#a7ffeb; width:26px; height:26px; margin-right: 5px"mat-mini-fab></button>
                        <button (click)="change()" style="background-color: #80d8ff; width:26px; height:26px; margin-right: 5px"mat-mini-fab></button>
                        <button (click)="change()" style="background-color:#82b1ff; width:26px; height:26px; margin-right: 5px"mat-mini-fab></button>
                </div>
    
                <div>
                        <button (click)="change()" style="background-color:#b388ff; width:26px; height:26px; margin-right: 5px; margin-bottom: 3px;margin-left: 3px;"mat-mini-fab></button>
                        <button (click)="change()" style="background-color:#f8bbd0; width:26px; height:26px; margin-right: 5px"mat-mini-fab></button>
                        <button (click)="change()" style="background-color:#d7ccc8; width:26px; height:26px; margin-right: 5px"mat-mini-fab></button>
                        <button (click)="change()" style="background-color:#cfd8dc; width:26px; height:26px; margin-right: 5px"mat-mini-fab></button>
                </div>
</mat-menu>

<!-- 
<mat-menu #menu="matMenu" >
        <div style="overflow: hidden">
                <div >
                        <button style="background-color: #fafafa; width:26px; height:26px; margin-right: 5px; margin-bottom: 3px;margin-left: 3px;" mat-mini-fab></button>
                        <button style="background-color:#ff8a80; width:26px; height:26px;  margin-right: 5px"mat-mini-fab></button>
                        <button style="background-color: #ffd180; width:26px; height:26px;  margin-right: 5px"mat-mini-fab></button>
                        <button style="background-color:#ffff8d; width:26px; height:26px; margin-right: 5px"mat-mini-fab></button>
                </div>
    
                <div>
                        <button style="background-color:#ccff90; width:26px; height:26px;  margin-right: 5px; margin-bottom: 3px;margin-left: 3px;"mat-mini-fab></button>
                        <button style="background-color:#a7ffeb; width:26px; height:26px; margin-right: 5px"mat-mini-fab></button>
                        <button style="background-color: #80d8ff; width:26px; height:26px; margin-right: 5px"mat-mini-fab></button>
                        <button style="background-color:#82b1ff; width:26px; height:26px; margin-right: 5px"mat-mini-fab></button>
                </div>
    
                <div>
                        <button style="background-color:#b388ff; width:26px; height:26px; margin-right: 5px; margin-bottom: 3px;margin-left: 3px;"mat-mini-fab></button>
                        <button style="background-color:#f8bbd0; width:26px; height:26px; margin-right: 5px"mat-mini-fab></button>
                        <button style="background-color:#d7ccc8; width:26px; height:26px; margin-right: 5px"mat-mini-fab></button>
                        <button style="background-color:#cfd8dc; width:26px; height:26px; margin-right: 5px"mat-mini-fab></button>
                </div>
        </div>
    
    
    </mat-menu> -->